<h1>Main#home</h1>
<p>Find me in app/views/main/home.html.erb</p>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://rawgit.com/jaukia/zoomooz/master/jquery.zoomooz.js"></script>
