<%= stylesheet_link_tag    'application', home: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_tag do %>
window.userID = "<%= current_user.id%>";
window.userName ="<%= current_user.name %>";
<% end %>
<div class="member_work">
  <div class="personal_work">
    <div id="personal_work_header">
      <img src="/assets/person.png" style="float:left">
      <h3 style="float:left; margin-left:3px;">Personal Works</h3>
    </div>
    <div class='personal_work_group'  style="text-align:left;"></div>
  </div>
  <div class="personal_team_group">
  </div>
  <div class="create_team" id="create_team">Create Team</div>
  <div class="create_team_form" id="create_team_form">
    <form id="team_form">
      <div id="team_name">Team Name</div>
      <input type="text" name="name" class="team_input">
    </form>
    <input type="button" class="team_button" value="Create">
  </div>
</div>
<script>
var tId;
var getInfo=function(){		//work박스를 그려주는 함수
  $(".personal_work_group").hide();
  $.getJSON("/api/user/"+userID, function(response) {
    if($(".personal_work_group").empty(0)){
      $.each(response.work_ids, function (i,id) {
        $(".personal_work_group").append("<div class='userWork personal_work_content personal_work_content"+i+"''></div>").show('slow')
        $.getJSON("/api/work/"+id, function(response){
          if($(".personal_work_content").eq(i).empty(0)){
            $(".personal_work_content"+i).append('<div class="personal_work_name">'+response.name+'</div>')
            $(".personal_work_content").eq(i).attr("data-id",id)
          }
        })
      });
    }
    $.each(response.team_ids, function (i,id) {
      if($(".personal_team_group").eq(i).empty(0)){
        if(i!=response.team_ids.length){
          $(".personal_team_group").append("<div class='personal_team personal_team"+i+"'></div>").show('slow')
          $(".personal_team"+i).append("<div class='personal_team_header personal_team_header"+i+"'></div>").show('slow')
          $(".personal_team"+i).append("<div class='wrap_team_content wrap_team_content"+i+"'></div>").show('slow')
          $(".personal_team_header"+i).append("<img src='/assets/team.png' style='float:left ;'>").show('slow')
          $(".personal_team_header"+i).append("<div class='team_more team_more"+i+"'>").show('slow')
          $(".team_more"+i).append("<img src='/assets/more.png' style='width:15px; height:15px; margin-top:7px; margin-left:7px;'>More").show('slow')
        }
      }
      $.getJSON("/api/team/"+id, function(response) {
        $(".personal_team_header").eq(i).append('<h3 style=" float:left; margin-left:5px;">'+response.name+'</h3>')
        $(".personal_team_name").eq(i).addClass(''+id)
        $(".team_more"+i).attr("data-team_id",id)
        $.each(response.work_ids,function(j,id){
          $.getJSON("/api/work/"+id,function(response){
            $(".wrap_team_content"+i).append('<div class="personal_team_content personal_team_content'+response.team_id+'_'+j+'"></div>').show('slow')
            $(".personal_team_content"+response.team_id+"_"+j).append('<div class="personal_team_name">'+response.name+'</div>').show('slow')
          })
        })
      })
      $(".wrap_team_content"+i).append("<div class='create_personal_team create_personal_team"+i+"'></div>").show('slow')
      $(".create_personal_team"+i).append('<div class="create_personal_team_content">Create Team Work</div>')
      $(".create_personal_team"+i).attr("data-team_id",id)
    })
  });
  $(".personal_work_group").append('<div class="addWork personal_work_content"></div>').show('slow')
  $(".addWork").append('<div class="add_work_name">Create Personal Work</div>')
}
/////////////////////////////////////////////////////////////////////////////////
$(document).ready(function(){
  $.ajaxSetup({ //Json 비동기>>>동기
    async:false
  });
  getInfo();
  $(document).on("click", '.team_more' , function(){
    tId=$(this).data("team_id");
    window.location='/main/team/'+tId;
  })
  $(document).on("click",".userWork",function(){
    var sId = $(this).data("id")
    window.location='/main/work/'+ sId;
  })
  var nCount4 =0;
  $('#create_team').click(function(e){
    e.stopPropagation();
    if(nCount4==0){
      var x = e.pageX;
      var y = e.pageY;
      $("#create_team_form").css({top:y-180, left:x});
      $("#create_team_form").show();
      nCount4=1;
    }
    else{
      $("#create_team_form").hide();
      nCount4=0;
    }
  })
  //  $('#create_team_form,#team_name').click(function(e){
  //e.stopImmediatePropagation();
  //  })
  //  $('div:not(#create_team_form, #create_team)').click(function(e){
  //  if(nCount4==1){
  //    $('#create_team_form').hide();
  //      nCount4=0;
  //  }
  //  })
  var countForm=0;
  $(document).on("click",".team_button", function(e){
    e.preventDefault();
    jQuery.fn.mySerialize = function(){
      var returning = '';
      $('input, select, textarea',this).each(function(){
        if (this.value!=="") // check this to avoid && in returning string
        returning +='&'+this.value;
      })
      return returning.substring(1);
    }
    var formData1=$("#team_form").mySerialize();
    //값이 하나라도 안들어오면 알림창을 표시하고 리턴하여 함수빠져나감
    if(formData1==' '){
      alert("빈칸!");
      window.location = '/'
      return;
    }
    else{
      var inputData={"team":{"name":formData1}}
      window.location = '/';
    }
    //gvar json=$.parseJSON(formData);
    //alert(json.id)
    countForm++;
    if(countForm==1){
      $.ajax({
        type:"POST",
        url:"/api/post/team",
        contentType:"application/x-www-form-urlencoded; charset=UTF-8",
        cache:false,
        data: inputData,
        success:function(data){
          alert("팀이 생성되었습니다");
        },
      })
    }
  })
})
//============================================//
</script>