<%= stylesheet_link_tag    'application', home: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_tag do %>
window.userID = "<%= current_user.id%>";
window.userName ="<%= current_user.name %>";
<% end %>
<div class="member_work">
  <!--<div class="starred_work">
  <div id="starred_work_header">
  <img src="/assets/star.png" style="float:left; width:30px; height:30px;">
  <h3 style="float:left; margin-left:3px;">Starred Works</h3>
</div>
<div class="starred_work_group" style="text-align:left"><div class="personal_work_content">
<div class="personal_Work_name"></div>
</div></div>
</div>-->
<div class="personal_work">
  <div id="personal_work_header">
    <div class="p_w_title">Personal Works</div>
    <div class="purple_line"></div>
    <div class="gray_line"></div>
  </div>
  <div class='personal_work_group'  style="text-align:left;">
  </div>
</div>
<div id="team_header">
  <div style="height=34px;">
    <div class="p_w_title" id="t_w_title">Team Works</div>
    <img src="/assets/create_team.png" class="create_team" id="create_team">
  </div>
  <div class="purple_line"></div>
  <div class="gray_line"></div>
</div>
<div class="personal_team_group">
</div>
<div class="create_personal_work_form" id="create_personal_work_form">
  <div id="personal_work_form_main" class="personal_work_form_element">Create Personal Work</div>
  <img class="form_personal_work_btn form_btn" src="/assets/close1.png">
  <form id="personal_work_form">
    <div id="personal_work_form_title" class="personal_work_form_element">Title</div>
    <input type="text" name="title" class="personal_input personal_work_form_element" />
    <div id="personal_work_form_team_name" class="personal_work_form_element">Team</div>
    <select id="personal_work_form_selectTeam" name="team_name" class="personal_work_form_element">
      <option value="null">(none)</option>
    </select>
  </form>
  <input type="button" class="personal_work_form_button" value="Create" />
</div>
<div class="create_team_work_form" id="create_team_work_form">
  <div id="team_work_form_main" class="team_work_form_element">Create Team Work</div>
  <img class="form_team_work_btn form_btn" src="/assets/close1.png">
  <form id="team_work_form">
    <div id="team_work_form_title" class="team_work_form_element">Title</div>
    <input type="text" name="title" class="team_input team_work_form_element" />
    <div id="team_work_form_team_name" class="team_work_form_element">Team</div>
    <select id="team_work_form_selectTeam" name="team_name" class="team_work_form_element">
      <option value="null">(none)</option>
    </select>
  </form>
  <input type="button" class="team_work_form_button" value="Create" />
</div>
<div class="create_team_form" id="create_team_form">
  <img class="form_create_team_btn form_btn" src="/assets/close1.png">
  <form id="team_form">
    <div id="team_name">Team Name</div>
    <input type="text" name="name" class="team_input">
  </form>
  <input type="button" class="team_button" value="Create">
</div>

  <div class="edit_work_name" id="edit_work_name">
    <img class="edit_close_btn form_btn" src="/assets/close1.png">
    <form id="edit_work_form">
      <div id="team_name">Edit Work Name</div>
      <input type="text" name="name" class="work_name">
    </form>
    <input type="button" class="edit_work_button" value="Edit">
  </div>

  <ul class="custom_menu" data-target-class-name="" data-target-id>
  </ul>
</div>
<script>
var tId;
function hover(element) {
  element.setAttribute('src', '/assets/star2.png');
}
function unhover(element) {
  element.setAttribute('src', '/assets/star3.png');
}
/***********************Personal work Box********************/
var makePersonalWorkBox=function(){
  $(".personal_work_group").hide();
  var cnt=0;
  var flag = false;
  $.getJSON("/api/user/"+userID+"/works", function(response) {
    if($(".personal_work_group").empty(0)){
      $.each(response, function (i,work) {
        if(work.team_id==null){
          $(".personal_work_group").append("<div class='userWork personal_work_content personal_work_content"+cnt+"''></div>").show()
          if($(".personal_work_content").eq(cnt).empty(0)){
            $(".personal_work_content"+cnt).append('<div class="personal_work_name">'+work.name+'</div>')
            //$(".personal_work_content"+cnt).append('<img class="close_btn closebtn'+cnt+'" src="/assets/close1.png" height="15px" width="15px";/>')
            //$(".personal_work_content"+cnt)
            //.append('<span class="boxIcon"><img class="star_btn" src="/assets/star3.png" height="15px" width="15px" onmouseover="hover(this);" onmouseout="unhover(this);" /></span>')
            $(".personal_work_content").eq(cnt).attr("data-id",work.id)
            $(".personal_work_content").eq(cnt).attr("data-firstBranch",work.first_branch)
            //console.log(work.starlists);
            $.each(work.starlists, function (i, relation) {
              if (relation.user_id == userID)
              flag = true;
              //console.log(relation.user_id + " " + userID);
              //console.log(userID);
              //console.log("flag" + flag)
            })
            if (flag == true) { // 즐겨찾기 되있음
              $(".personal_work_content"+cnt)
              .append('<span class="boxIcon"><img class="star_btn" src="/assets/star2.png" height="15px" width="15px" onmouseout="hover(this);" onmouseover="unhover(this);" /></span>')
            } else {
              $(".personal_work_content"+cnt)
              .append('<span class="boxIcon"><img class="star_btn" src="/assets/star3.png" height="15px" width="15px" onmouseover="hover(this);" onmouseout="unhover(this);" /></span>')
            }
            flag = false;
          }
          cnt++;
        }//if(work.team_id==null)
      });
    }
  })
  $(".personal_work_group").append('<div class="addWork"></div>').show('slow')
  $(".addWork").append('<img class=create_work_btn src="/assets/create_work.png"> ').show('slow')
}
/************************************************************/
/***********************Team work Box************************/
var makeTeamWorkBox=function(){
  $.getJSON("/api/user/" + userID + "/teams", function(response) {
    $.each(response, function(i, team) {
      if ($(".personal_team_group").eq(i).empty(0)) {
        if (i != response.length) {
          $(".personal_team_group").append("<div class='personal_team personal_team" + i + "'></div>").show('slow')
          $(".personal_team" + i).append("<div class='personal_team_header personal_team_header" + i + "'></div>").show('slow')
          $(".personal_team" + i).append("<div class='wrap_team_content wrap_team_content" + i + "'></div>").show('slow')
          $(".personal_team_header" + i).append("<div class='team_more team_more" + i + "'>").show('slow')
          $(".team_more" + i).append("<img class='more_btn' src='/assets/more.png'>").show()
        }
      }
      $(".personal_team_header").eq(i).append('<div class="home_team_name">' + team.name + '</div>')
      $(".personal_team_name").eq(i).addClass('' + team.id)
      $(".team_more" + i).attr("data-team_id", team.id)
      $.each(team.work_ids, function(j, id) {
        $.getJSON("/api/work/" + id, function(response) {
          $(".wrap_team_content" + i).append('<div class="personal_team_content personal_team_content' + response.team_id + '_' + j + '"></div>').show('slow')
          $(".personal_team_content" + response.team_id + "_" + j).append('<div class="personal_team_name">' + response.name + '</div>').show('slow')
          $(".personal_team_content" + response.team_id + "_" + j).attr("data-id", id)
          $(".personal_team_content" + response.team_id + "_" + j).attr("data-firstbranch", response.first_branch)
          $.each(response.starlists, function (i, relation) {
            //$(".personal_team_content" + response.team_id + "_" + j)
            //.append('<span class="boxIcon"><img class="star_btn" src="/assets/star3.png" height="15px" width="15px" onmouseover="hover(this);" onmouseout="unhover(this);" /></span>')
            if (relation.user_id == userID)
            flag = true;
          });
          if (flag == true) {
            $(".personal_team_content" + response.team_id + "_" + j)
            .append('<span class="boxIcon"><img class="star_btn" src="/assets/star2.png" height="15px" width="15px" onmouseout="hover(this);" onmouseover="unhover(this);" /></span>')
          } else {
            $(".personal_team_content" + response.team_id + "_" + j)
            .append('<span class="boxIcon"><img class="star_btn" src="/assets/star3.png" height="15px" width="15px" onmouseover="hover(this);" onmouseout="unhover(this);" /></span>')
          }
          flag = false;
        })
      })
      $(".wrap_team_content" + i).append("<div class='create_personal_team create_personal_team" + (i + 1) + "'></div>").show('slow')
      $(".create_personal_team" + (i + 1)).append('<div class="create_personal_team_content"></div>')
      $(".create_personal_team"+ (i + 1)).append('<img class=create_work_btn src="/assets/create_work.png"> ').show('slow')
      $(".create_personal_team" + (i + 1)).attr("data-team_id", team.id)
    })
  });
  //  $(".addWork").append('<div class="add_work_name personal_work_name">Create Personal Work</div>')
}
/************************************************************/
/////////////////////////////////////////////////////////////////////////////////
$(document).ready(function(){
  $.ajaxSetup({ //Json 비동기>>>동기
    async:false
  });
  //getInfo();
  makePersonalWorkBox();
  makeTeamWorkBox();
  var nCount7=0
  $(document).click(function(e){
    if ( !$(e.target).is('.edit_work_name, #edit_work_name, #edit_work_form, #team_name, .work_name, .edit_work_button, .custom_menu_li, .custom_menu') ) {
      $(".edit_work_name").hide();
      nCount7=0;
    }
  });
  // 즐겨찾기 구현
  $('.star_btn').on("click", function(e) {
    e.stopPropagation();
    //alert($(this).parent().parent().attr('data-id').match(/\d+/)[0]);
    var work_id = $(this).parent().parent().attr('data-id').match(/\d+/)[0];
    //console.log(work_id)
    //$.post("/api/user/" + userID + "/setStar", {"starlists": {"work_id": work_id, "user_id": userID}})
    if ($(this).attr("src").match(/\d+/)[0] == "2") {
      $.get("/api/user/" + userID + "/staring", {"starlists": {"work_id": work_id, "user_id": userID}})
      $(this).removeAttr("onmouseout");
      $(this).removeAttr("onmouseover");
      $(this).attr("onmouseout", "hover(this)");
      $(this).attr("onmouseover", "unhover(this)");
      $(this).attr("src", "/assets/star2.png");
    } else {
      $.get("/api/user/" + userID + "/unstaring", {"starlists": {"work_id": work_id, "user_id": userID}})
      $(this).removeAttr("onmouseout");
      $(this).removeAttr("onmouseover");
      $(this).attr("onmouseout", "unhover(this)");
      $(this).attr("onmouseover", "hover(this)");
      $(this).attr("src", "/assets/star3.png");
    }
    /*
    $.get("/api/user/" + userID + "/setStar?" + "work_id=" + work_id, function(data, status) {
    alert(Data + status);
  })
  */
});
// 해당 페이지에 list 요소들을 바인딩 함
var makeHomeFolderContext = function() {
  //$(".custom_menu").append("<li class='custom_menu_li custom_menu_li_add_favorate' data-action='add_favorate'><img class='star_btn_context' src='/assets/star3.png' style='height:18px;width:18px;'/>&nbsp;&nbsp;Add favorate</li>");
  $(".custom_menu").append("<li class='custom_menu_li' data-action='change_name'><img class='edit_btn_context' src='/assets/edit.png' style='height:18px;width:18px;' />&nbsp;&nbsp;Rename</li>");
  $(".custom_menu").append("<li class='custom_menu_li' data-action='change_color'><img class='edit_btn_context' src='/assets/edit.png' style='height:18px;width:18px;'/>&nbsp;&nbsp;Change color</li>");
  $(".custom_menu").append("<hr class='context_hr'/>");
  $(".custom_menu").append("<li class='custom_menu_li' data-action='copy'><img class='edit_btn_context' src='/assets/edit.png' style='height:18px;width:18px;'/>&nbsp;&nbsp;Copy</li>");
  $(".custom_menu").append("<li class='custom_menu_li' data-action='paste'><img class='edit_btn_context' src='/assets/edit.png' style='height:18px;width:18px;'/>&nbsp;&nbsp;Paste</li>");
  $(".custom_menu").append("<li class='custom_menu_li' data-action='move'><img class='edit_btn_context' src='/assets/edit.png' style='height:18px;width:18px;'/>&nbsp;&nbsp;Move</li>");
  $(".custom_menu").append("<li class='custom_menu_li' data-action='share_link'><img class='edit_btn_context' src='/assets/edit.png' style='height:18px;width:18px;'/>&nbsp;&nbsp;Share link</li>");
  $(".custom_menu").append("<hr class='context_hr'/>");
  $(".custom_menu").append("<li class='custom_menu_li' data-action='delete'><img class='delete_btn_context' src='/assets/close1.png' style='height:18px;width:18px;' />&nbsp;&nbsp;Delete</li>");
};
makeHomeFolderContext();
/* 커스텀 context menu */
// 해당 리스트와 겹치는 요소가 하나라도 있는지 체크하는 루틴
var checkIntersection = function(target_list, obj_list) {
  var flag = false;
  $.each(target_list, function(target_idx, target_val) {
    $.each(obj_list, function(obj_idx, obj_val) {
      if (target_val == obj_val) {
        flag = true;
        return;
      }
    });
  });
  if (flag === true)
    return true;
  return false;
}
// context menu가 나타났을때 액션 정의
$(document).bind("contextmenu", function(e) {
  var bind_list = ["userWork", "personal_team_content", "personal_work_name", "personal_team_name", "custom_menu_li"]
  var target_class = $(e.target).attr("class").split(" ");
  if (checkIntersection(bind_list, target_class) === true) {
  //if (bind_list.include("userWork")) {
    e.preventDefault();
    //console.log($($(e.target)[0]).data("id"));
    if (target_class.includes("personal_work_name") ||
      target_class.includes("personal_team_name")) {
      //$(".custom_menu").data("target-class-name", $(e.target).parent().attr("class").split(" ").slice(-1)[0]);
      $(".custom_menu").data("target-id", $($($(e.target)[0]).parent()[0]).data("id"))
    }
    else
    {
      //$(".custom_menu").data("target-class-name", target_class[target_class.length - 1]);
      $(".custom_menu").data("target-id", $($(e.target)[0]).data("id"));
    }
    $(".custom_menu").finish().toggle().
    css({
      top: e.pageY,
      left: e.pageX
    });
  }
});
// context menu 밖을 눌렀을 경우
$(document).bind("mousedown", function(e) {
  if (!($(e.target).parents(".custom_menu").length > 0)) {
    $(".custom_menu").hide();
  }
})
// context menu 안의 요소를 클릭한 경우
$(".custom_menu li").click(function(e) {
  var target = $($($(this)[0]).parent()[0]).data("target-id");
  //var target_type = (target.includes("team") == true)? "team" : "personal";
  var target_id;
  var target_team_id;
/*
  if (target_type === "team") {
    target_team_id = target.match(/\d+_\d+/)[0].split("_")[0];
    target_id = target.match(/\d+_\d+/)[0].split("_")[1];
  } else if (target_type === "personal") {
    target_id = target.match(/\d/)[0];
  }
*/
  e.stopPropagation();
  switch ($(this).attr("data-action")) {
    case "add_favorate": alert("add"); break;
    case "change_name":
      {
          var work_id = target;
          if(nCount7==0){
            var x = e.pageX;
            var y = e.pageY;
            $(".edit_work_name").css({top:y, left:x, display: "block"});
            $(".edit_work_name").show();
            console.log($(".edit_work_name"))
            nCount7=1;
          }
          else{
            $(".edit_work_name").hide();
            console.log("test2");
            nCount7=0;
          }
          $('.edit_close_btn').click(function(){
            $(".edit_work_name").hide();
            nCount7=0;
          })
          console.log("test");
          var countForm1=0;
          $(document).on("click",".edit_work_button", function(e){
            jQuery.fn.mySerialize = function(){
              var returning = '';
              $('input, select, textarea',this).each(function(){
                if (this.value!=="") // check this to avoid && in returning string
                returning +='&'+this.value;
              })
              return returning.substring(1);
            }
            var work_name=$("#edit_work_form").mySerialize();
            //값이 하나라도 안들어오면 알림창을 표시하고 리턴하여 함수빠져나감
            if(work_name==' '){
              alert("빈칸입니다");
              //window.location = '/'
              return;
            }
            else{
              var inputData={"work_id":work_id,"name":work_name}
            }
            //gvar json=$.parseJSON(formData);
            //alert(json.id)
            countForm1++;
            if(countForm1==1){
              $.ajax({
                type:"POST",
                url:"/api/post/workName",
                contentType:"application/x-www-form-urlencoded; charset=UTF-8",
                cache:false,
                data: inputData,
                success:function(data){
                  alert("수정완료");
                  window.location = '/'
                },
              })
            }
          })
      }
      break;
    case "delete":
      {
        $.get("/api/work/" + target + "/delete", {"user_id": userID, "work_id": target})
        .done(function(data){
          alert("삭제 완료");
          window.location = '/';
        })
      }
      break;
    case "first": alert("first"); break;
    case "second": alert("second"); break;
    case "third": alert("third"); break;
  }
  $(".custom_menu").hide();
})
/* */

$(document).on("click", '.team_more' , function(){
  tId=$(this).data("team_id");
  window.location='/main/team/'+tId;
})
$(document).on("click",".userWork",function(){
  var sId = $(this).data("id")
  var firstBranchId=$(this).data("firstbranch")
  //window.location='/main/work/'+ sId;
  window.location='/main/work/folder/' + sId+'/'+firstBranchId;
})
$(document).on("click",".personal_team_content",function(){
  var twId = $(this).data("id")
  var firstBranchId=$(this).data("firstbranch")
  //window.location='/main/work/'+ twId;
  //alert(twId);
  window.location='/main/work/folder/' + twId+'/'+firstBranchId;
})
var nCount5 = 0;
$.getJSON("/api/user/"+userID, function(response) {
  $.each(response.team_ids, function (i,id) {
    $.getJSON("/api/team/"+id, function(response) {
      $("#personal_work_form_selectTeam").append("<option value=\""+id+"\">"+response.name+"</option>");
      $("#team_work_form_selectTeam").append("<option value=\""+id+"\">"+response.name+"</option>");
    });
  });
});
$(document).on("click", ".addWork", function(e) {
  e.stopPropagation();
  if (nCount5 == 0) {
    var x = e.pageX;
    var y = e.pageY;
    $("#create_personal_work_form").css({top:y, left:x});
    $("#create_personal_work_form").show();
    nCount5 = 1;
  } else {
    $("#create_personal_work_form").hide();
    nCount5 = 0;
  }
  $('.form_personal_work_btn').click(function(){
    $("#create_personal_work_form").hide();
    nCount5=0;
  })
})
$(document).click(function(e){
  if ( !$(e.target).is('.create_personal_work_form, #personal_work_form_main, .form_btn, #personal_work_form, #personal_work_form_title, .personal_input, #personal_work_form_team_name, #personal_work_form_selectTeam, .personal_work_form_button') ) {
    //alert()
    $("#create_personal_work_form").hide();
    nCount5=0;
  }
});
var work_countForm = 0;
$(document).on("click", ".personal_work_form_button", function(e) {
  e.preventDefault();
  $.fn.mySerialize = function() { // 병합해야할듯...
    var returning = '';
    $('input, select, textarea',this).each(function(){
      if (this.value!=="") // check this to avoid && in returning string
      returning +='&'+this.value;
    })
    return returning.substring(1);
  }
  var formData1 = $("#personal_work_form").mySerialize();
  formData = formData1.split('&');
  if (formData.length != 2) {
    return;
  } else {
    if (formData[1] == "null") {
      var inputData={"work":{"name":formData[0], "user_id": userID}}
    } else {
      var inputData={"work":{"name":formData[0], "user_id": userID,"team_id": formData[1]}}
    }
    window.location = '/';
  }
  work_countForm++;
  //console.log(work_countForm);
  if (work_countForm == 1) {
    $.ajax({
      type:"POST",
      url:"/api/post/work",
      contentType:"application/x-www-form-urlencoded; charset=UTF-8",
      cache:false,
      data: inputData,
      success:function(data){
        //alert("팀이 생성되었습니다");
        //alert(data);
      },
      error:function(error){
        //alert(error);
      }
    }).complete(function(){
      $.getJSON("/api/user/" + userID+"/works", function(response) {
        //alert(response.length)
        //window.location='/main/work/'+ response[response.length-1];
        window.location='/main/work/folder/' + response[response.length-1].id +'/'+response[response.length-1].first_branch;
      });
    })
  }
})
var team_work_countForm = 0;
$(document).on("click", ".team_work_form_button", function(e) {
  e.preventDefault();
  $.fn.mySerialize = function() { // 병합해야할듯...
    var returning = '';
    $('input, select, textarea',this).each(function(){
      if (this.value!=="") // check this to avoid && in returning string
      returning +='&'+this.value;
    })
    return returning.substring(1);
  }
  var formData1 = $("#team_work_form").mySerialize();
  formData = formData1.split('&');
  if (formData.length != 2) {
    return;
  } else {
    if (formData[1] == "null") {
      var inputData={"work":{"name":formData[0], "user_id": userID}}
    } else {
      var inputData={"work":{"name":formData[0], "user_id": userID,"team_id": formData[1]}}
    }
    window.location = '/';
  }
  team_work_countForm++;
  //console.log(work_countForm);
  if (team_work_countForm == 1) {
    $.ajax({
      type:"POST",
      url:"/api/post/work",
      contentType:"application/x-www-form-urlencoded; charset=UTF-8",
      cache:false,
      data: inputData,
      success:function(data){
        //alert("팀이 생성되었습니다");
        //alert(data);
      },
      error:function(error){
        //alert(error);
      }
    }).complete(function(){
      $.getJSON("/api/user/" + userID+"/works", function(response) {
        //alert(response);
        //alert(response.length)
        //window.location='/main/work/'+ response[response.length-1];
        window.location='/main/work/folder/' + response[response.length-1].id +'/'+response[response.length-1].first_branch;
      });
    })
  }
})
var nCount6 = 0;
$(document).on("click", ".create_personal_team", function(e) {
  e.stopPropagation();
  if (nCount6 == 0) {
    var x = e.pageX;
    var y = e.pageY;
    $("#create_team_work_form").css({top:y, left:x});
    $("#create_team_work_form").show();
    nCount6 = 1;
    $("select#team_work_form_selectTeam").val($(this).attr('class').match(/\d/)[0]);
  } else {
    $("#create_team_work_form").hide();
    nCount6 = 0;
  }
  $('.form_team_work_btn').click(function(){
    $("#create_team_work_form").hide();
    nCount6=0;
  })
})
$(document).click(function(e){
  if ( !$(e.target).is('.create_personal_team, #create_team_work_form, #team_work_form_main, .form_btn, .form_team_work_btn, .team_input, #team_work_form, #team_work_form_title, #team_work_form_team_name, #team_work_form_selectTeam, .team_work_form_button') ) {
    $("#create_team_work_form").hide();
    nCount6 = 0;
  }
});
var nCount4 = 0;
$('#create_team').click(function(e){
  e.stopPropagation();
  if(nCount4==0){
    var x = e.pageX;
    var y = e.pageY;
    $("#create_team_form").css({top:y-180, left:x});
    $("#create_team_form").show();
    nCount4=1;
  }
  else{
    $("#create_team_form").hide();
    nCount4=0;
  }
  $('.form_create_team_btn').click(function(){
    $("#create_team_form").hide();
    nCount4=0;
  })
})
$(document).click(function(e){
  if ( !$(e.target).is('#create_team_form, #team_form, #team_name, .team_input, .team_button') ) {
    $("#create_team_form").hide();
    nCount4=0;
  }
});
//워크 이름 수정

$(document).click(function(e){
  if ( !$(e.target).is('.edit_work_name, #edit_work_name, #edit_work_form, #team_name, .work_name, .edit_work_button, .custom_menu_li, .custom_menu') ) {
    $(".edit_work_name").hide();
    nCount7=0;
  }
});
//  $('#create_team_form,#team_name').click(function(e){
//e.stopImmediatePropagation();
//  })
//  $('div:not(#create_team_form, #create_team)').click(function(e){
//  if(nCount4==1){
//    $('#create_team_form').hide();
//      nCount4=0;
//  }
//  })
var countForm=0;
$(document).on("click",".team_button", function(e){
  e.preventDefault();
  jQuery.fn.mySerialize = function(){
    var returning = '';
    $('input, select, textarea',this).each(function(){
      if (this.value!=="") // check this to avoid && in returning string
      returning +='&'+this.value;
    })
    return returning.substring(1);
  }
  var formData1=$("#team_form").mySerialize();
  //값이 하나라도 안들어오면 알림창을 표시하고 리턴하여 함수빠져나감
  if(formData1==''){
    //alert("빈칸!");
    //window.location = '/'
    return;
  }
  else{
    var inputData={"team":{"name":formData1}}
    window.location = '/';
  }
  //gvar json=$.parseJSON(formData);
  //alert(json.id)
  countForm++;
  if(countForm==1){
    $.ajax({
      type:"POST",
      url:"/api/post/team",
      contentType:"application/x-www-form-urlencoded; charset=UTF-8",
      cache:false,
      data: inputData,
      success:function(data){
        //alert("팀이 생성되었습니다");
      },
    })
  }
})
})
//============================================//
</script>
