<%= stylesheet_link_tag    'application', login: 'all', 'data-turbolinks-track': 'reload' %>
<div id="login_header">
  <div id="logo"></div>
</div>
<div id="login_1">
  <div id="login_1_content" class="login_content">
    <h1>Thanks for using T-tree</h1>
    <p>로그인이 필요합니다ㅎ.ㅎ</p>
    <div id="login_form">
      <%= button_to "Login with Facebook", user_facebook_omniauth_authorize_path, :class=>"loginBtn loginBtn--facebook"%>
      <%= button_to "Login with Google", user_google_oauth2_omniauth_authorize_path , :class=>"loginBtn loginBtn--google"%>
    </div>
  </div>
</div>
<div id="login_2">
  <div id="login_2_content" class="login_content">
    <h1>How To Using T-tree?</h1>
  </div>
</div>
<div id="login_3">
  <div id="login_3_content" class="login_content">
    <h1>김시훈</h1><h1>오지원</h1><h1>류정원</h1>
  </div>
</div>
