<%= stylesheet_link_tag    'application', team: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_tag do %>
<% end %>
<div class="pages_container">
	<div class="page_wrap">
		<img class="page_img" src="http://ryugarden.org/api/thumb?url=http://naver.com" />
		<div class="page_url"></div>
	</div>
</div>
