<%= stylesheet_link_tag    'application', team: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_tag do %>
window.teamID = "<%= @team_id%>";
<% end %>
<div class="team_info">
  <div class="team_wrapper">
    <div class="team_name">
      <h1 style="margin-top:40px;"><%=@team.name%></h1>
    </div>
  </div>
</div>
<div class="wrapper">
  <ul class="tabs clearfix" data-tabgroup="first-tab-group">
    <li><a href="#tab1" class="tab_1 active">Works</a></li>
    <li><a href="#tab2" class="tab_2">Members</a></li>
  </ul>
  <section id="first-tab-group" class="tabgroup">
    <div id="tab1" class="tab1">
      <div class="team_work_wrap">
        </div>
      </div>
    <div id="tab2" class="tab2">
      <h2>Team Members</h2>
      <p>김시훈, 오지원, 류정원</p>
    </div>
  </section>
</div>
<script>
var getTeamWork=function(){
  $(".team_work_wrap").hide
  $.getJSON("/api/team/"+teamID, function(response){
    for(var i=0; i<(response.work_ids.length); i++){
        if(i!=response.work_ids.length){
          $(".team_work_wrap").append('<div class="team_work team_work'+i+'"></div>').show('slow');
      }
    }
    $(".team_work_wrap").append('<div class="create_team_work create_team_work'+i+'"></div>').show('slow');
  })
}//function
var getWorkFromTeam=function(){
  $.getJSON("/api/team/"+teamID, function(response){
    $.each(response.work_ids, function (i,id){
      $.getJSON("/api/work/"+id, function(response){
        $(".team_work"+i).append('<div class="team_work_name team_work_name'+i+'">'+response.name+'</div>').show('slow');
      })
    })
    $(".create_team_work").append('<div class="create_team_work_content">Create Team Work</div>').show('slow');
  })
}
$('.tabgroup > div').hide();
$('.tabgroup > div:first-of-type').show();
$('.tabs a').click(function(e){
  e.preventDefault();
  var $this = $(this),
  tabgroup = '#'+$this.parents('.tabs').data('tabgroup'),
  others = $this.closest('li').siblings().children('a'),
  target = $this.attr('href');
  others.removeClass('active');
  $this.addClass('active');
  $(tabgroup).children('div').hide();
  $(target).show();
});
$(document).ready(function(){
  getTeamWork();
  getWorkFromTeam();
});
</script>
