<div id="temp">
	<div id="using_json">

	</div>
</div>
<script>

	$(document).ready(function(){
		$('#using_json').jstree({ 'core' : {
		    'data' : {
            'url' : '/api/work/1/tree'
        }
		} });
	});
</script>