#header{
  list-style: none;
  text-align: center;
  height: 40px;
  width: 100%;
}
.menu{
  display: inline-block;
  background-color: #31B2CD;
  height: 40px;
  float: left;
}
#menu_1{
  width: 7%;
}
#menu_2{
  width: 23%;
}
#menu_3{
  width: 40%;
  background-color: red;
}
#menu_4{
  width: 10%;
}
#menu_5{
  width: 10%;
}
#menu_6{
  width: 10%;
}
#home{
  padding: 5px;
  height: 30px;
}
.search {
  margin-top: 1.5px;
  margin-left: 5px;
  padding:10px;
  display:block;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  border:none;
  color:#fff;
  outline:none;
  padding-right: 30px;
  margin-right: 10px;
  width:40%;
  -webkit-transition:width .35s ease-in-out;
  transition:width .35s ease-in-out;
}
.search:focus {
  background:#fff;
  border:1px solid #34495E;
  color:#34495E;
  font-weight:600;
  background-image: url(/assets/search.png);
  background-position: right;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  width: 60%;
}
.search::-webkit-input-placeholder {
   color: #FFF;
}
.search:-moz-placeholder {
   color: #FFF;
}
.search::-moz-placeholder {
   color: #FFF;
}
.search:-ms-input-placeholder {
   color: #FFF;
}
.blue {background:#2980B9;}
.blue:checked {background:#3498DB;}
#menuDiv1{
  background-color: #2980B9;
  color: #FFF;
  margin-left: 10px;
  height: 35px;
  width: 80%;
  margin-top: 1.5px;
  border-radius: 8px;
  cursor: pointer;
}
#dropDown1{
  height: 300px;
  width: 200px;
  position: absolute;
  display: none;
  top: 42px;
  left: 3px;
  background-color: #e27fd7;
  border-radius: 8px;
}
#menuDiv6{
  background-color: #2980B9;
  color: #FFF;
  margin-left: 10px;
  height: 35px;
  width: 80%;
  margin-top: 1.5px;
  border-radius: 8px;
  cursor: pointer;
}
#dropDown6{
  height: 220px;
  width: 220px;
  position: absolute;
  display: none;
  top: 42px;
  right: 3px;
  background-color: #e27fd7;
  border-radius: 8px;
}
#userList{
  border: 1px solid;
  list-style: none;
}
.user_li{
  height: 30px;
  width: 100%;
  text-align: left;
}
#user_li1,#user_li6{
  height: 50px;
  border-bottom: 1px solid gray;
  text-align: center;
}
#user_li2,#user_li3,#user_li4,#user_li5{
  padding-left: 7px;
}
#user_li6{
  border-top: 1px solid gray;
}
