$addMainColor:#99d8dd;
$firstColor:#91C9E8;
$backgorundColor:#E2E4E6;
#login_header{
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0px;
  #logo{
    width:150px;
    height: 40px;
    margin-left: 15px;
    margin-top: 20px;
    float: left;
    display: inline-block;
  }
}
#header{
  position: fixed;
  top:0px;
  list-style: none;
  text-align: right;
  height: 60px;
  width: 100%;
  border-style: none;
  z-index: 100;
  background-color: #f0f0f0;
  font-family:'Raleway', sans-serif;
  //box-shadow: 2px 1px 10px #888888;
  .menu{
    display: inline-block;
    height: 60px;
    border-style: none;
  }/*.menu*/
  #menu_1{
    float: left;
    text-align: left;
    #menuDiv1{
      text-align: center;
      display: inline-block;
      background-color: #bba4cb;
      color: white;
      height: 25px;
      width: 115px;
      margin: 13px 20px auto 30px;
      padding-top: 10px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      &:hover{
      }
    }/*#menuDiv1*/
  }/*#menu_1*/
  #menu_2{
    float: left;
    .typeahead__container {
      margin-top: 13px;
      width: 250px;
    }
  }/*#menu_2*/
  #home{
    width: 150px;
    height: 40px;
    position: absolute;
    left: -webkit-calc(50% - 75px);
    left: -moz-calc(50% - 75px);
    left: calc(50% - 75px);
    margin: 10px auto;
  }/*#home*/
  /*#menu_3*/

  /*#menu_4*/

  #menu_5{
    #menuDiv5{
      background-color: #ccb690;
      border-radius: 8px;
      margin: 13px 5px 12px auto;
      height: 35px;
      width: 35px;
      cursor: pointer;
      #plus{
        margin: 8px ;
        width: 20px;
        height: 20px;
      }
      &:hover{
      }
    }/*#menuDiv5*/
  }/*#menu_5*/

  #menu_6{
    float: right;
    #menuDiv6{
      text-align: center;
      background-color: #b5b5b5;
      color: white;
      height: 35px;
      width: 93px;
      margin: 13px 36px 7px auto;
      border-radius: 8px;
      cursor: pointer;
      font-weight: bold;
      #user_name{
        font-size: 16px;
        width: 48px;
        height: 21px;
        margin: 7px 10px 7px 15px;
        display: inline-block;
        overflow: hidden;
        float: left;
      }
      #user_arrow{
        display: inline-block;
        margin-top: 15px;
        margin-right:7px;
        width: 10px;
        height: 8px;
      }
      &:hover{
      }
    }/*#menuDiv6*/
  }/*#menu_6*/
}/*#header*/

/*//////////////#dropDown1/////////////*/

#dropDown1{
  &::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #999999;
    border-radius:5px;
  }
  position:fixed;
  overflow:auto;
  height: 220px;
  width: 260px;
  display: none;
  top: 67px;
  left: 25px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 2px 1px 10px #888888;
  z-index: 100;
  font-family:'Raleway', sans-serif;

  #WorkList{
    list-style: none;
    padding-bottom:20px;
    margin-left:0;
    margin-right:0;
    .work_li{
      height: 25px;
      width: 90%;
      padding-top:5px;
      padding-bottom:5px;
      padding-right:5%;
      padding-left:5%;
      color:#6B6B6B;
      /*font-weight: bold;*/
      .left_icon{
        float:left;
        margin-top:0.5%;
        margin-right:5%;
      }
      .right_icon{
        float:right;
        //padding:2%;
        margin-bottom:4.5%;
        border-radius: 4px;
        &:hover{
          background-color: $addMainColor;
          cursor: pointer;
        }
      }
    }/*work_li*/

    #TeamWorks{
      background-color: #EFEFEF;
      .team_li{
        height: 25px;
        width: 90%;
        padding-top:7px;
        padding-bottom:3px;
        padding-right:5%;
        padding-left:5%;
        color:#6B6B6B;
        /*font-weight: bold;*/
        .left_icon{
          float:left;
          margin-top:0.5%;
          margin-right:5%;
        }
        .team_right_icon{
          float:right;
          //padding:2%;
          margin-bottom:4.5%;
          border-radius: 4px;
          &:hover{
            background-color: #FFEA8E;
            cursor: pointer;
          }
        }
      }/*team_li*/
    }/*TeamWorks*/

    .work_detail_li{
      height: 15px;
      width: 90%;
      padding-top:10px;
      padding-bottom:10px;
      padding-right:5%;
      padding-left:5%;
      color:#6B6B6B;
      background-color:#EFEFEF;
      overflow: hidden;
      &:hover{
        background-color: $addMainColor;
        cursor: pointer;
      }
    }
    .work_searchContain{
      padding-top:5%;
      padding-bottom:5%;
      padding-right:2%;
      padding-left:2%;
      input{
        margin-left:2%;
        margin-right:2%;
        padding-right:5%;
        padding-left:5%;
        padding-bottom:3%;
        padding-top:3%;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        width:96%;
        background-color: #EFEFEF;
        color:#7C7C7C;
        font-size:15px;
        &:focus {
          background-color: #FFFFFF;
        }
      }/*input*/
    }/*.work_searchContain*/
  }/*#WorkList*/
}

/*//////////////#dropDown5/////////////*/
#dropDown5{
  height: 250px;
  width: 220px;
  position: fixed;
  display: none;
  top: 67px;
  right: 10px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 2px 1px 10px #888888;
  z-index: 100;
  font-family:'Raleway', sans-serif;

  #addList{
    list-style: none;
    padding-bottom:20px;
    margin-left:0;
    margin-right:0;
    .add_li{
      height: 25px;
      width: 90%;
      padding-top:15px;
      padding-bottom:15px;
      padding-right:5%;
      padding-left:5%;
      /*font-weight: bold;*/
      &:hover{
        background-color: $addMainColor;
        cursor: pointer;
      }
    }/*add_li*/
    .add_li_name{
      height: 20px;
      width: 80%;
      padding-top:15px;
      padding-bottom:15px;
      padding-right:5%;
      padding-left:5%;
      margin-left:5%;
      margin-right:5%;
      text-align: center;
      color:#868686;
      border-bottom: 2px dotted #A8A8A8;
      #left_icon{
        float:left;
        margin-top:5px;
        &:hover{
          cursor: pointer;
        }
      }
    }/*.add_li_name*/
    .add_form{
      padding-right:5%;
      padding-left:5%;
    }/*.add_form*/
    #add_form1{
      margin-top:15px;
    }/*#add_form1*/
    #ReadingInfoSelectBtn{
      margin-left:7%;
      margin-top:2%;
      margin-bottom:5%;
      text-align:center;
      border-radius: 4px;
      font-size: 16px;
      background-color: #5cb3c1;
      border: none;
      color: white;
      padding: 7px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      &:hover{
        cursor: pointer;
        background-color: #44A1B0;
      }
    }/*#ReadingInfoSelectBtn*/
    .add_formContain{
      padding-top:3%;
      padding-bottom:5%;
      padding-right:5%;
      padding-left:5%;
      input{
        margin-left:2%;
        margin-right:2%;
        padding-bottom:2%;
        padding-top:2%;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        width:96%;
        background-color: #EFEFEF;

        &:focus {
          background-color: #FFFFFF;
        }
      }/*input*/
      select{
        margin-left:2%;
        margin-right:2%;
        padding-bottom:2%;
        padding-top:2%;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        width:96%;
        background-color: #EFEFEF;
        &:focus {
          background-color: #FFFFFF;
        }
      }/*select*/
    }/*.add_formContain*/
  }/*#addList*/
}/*#dropDown5*/

/*//////////////#dropDown6/////////////*/
#dropDown6{
  height: 310px;
  width: 220px;
  position: fixed;
  display: none;
  top: 67px;
  right: 10px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 2px 1px 10px #888888;
  z-index: 100;
  font-family:'Raleway', sans-serif;
  a{
    text-decoration: none;
    color: inherit;
  }/*a*/
  #userList{
    list-style: none;
    padding-bottom:20px;
    margin-left:0;
    margin-right:0;
    .user_li{
      height: 20px;
      width: 90%;
      margin-top:5px;
      margin-bottom:5px;
      padding-top:5px;
      padding-bottom:5px;
      padding-right:5%;
      padding-left:5%;
      /*font-weight: bold;*/
      &:hover{
        background-color: $addMainColor;
        cursor: pointer;
      }/*.user_li:hover*/
    }/*.user_li*/
    .user_li_name{
      height: 40px;
      width: 84%;
      padding-top:15px;
      padding-bottom:15px;
      padding-right:5%;
      padding-left:5%;
      margin-left:3%;
      margin-right:3%;
      text-align: center;
      color:#868686;
      border-bottom: 2px dotted #A8A8A8;
    }/*.user_li_name*/
    .user_li_logout{
      border-top: 2px dotted #A8A8A8;
      height: 40px;
      width: 84%;
      padding-top:15px;
      padding-right:5%;
      padding-left:5%;
      margin-left:3%;
      margin-right:3%;
      text-align: center;
      color: #888888;
      &:hover{
        /*background-color: $addMainColor;*/
        cursor: pointer;
        color:#5cb3c1;
      }/*.user_li:hover*/
    }
  }/*#userList*/
}/*#dropDown6*/
