#header{
  list-style: none;
  text-align: center;
  height: 40px;
  width: 100%;
}
.menu{
  display: inline-block;
  background-color: #91C9E8;
  height: 40px;
  float: left;
}
#menu_1{
  width: 7%;
}
#menu_2{
  width: 23%;
}
#menu_3{
  width: 40%;
}
#menu_4{
  width: 10%;
}
#menu_5{
  width: 10%;
}
#menu_6{
  width: 10%;
}
#home{
  padding: 5px;
  height: 30px;
}
.search {
  margin-top: 1.5px;
  margin-left: 5px;
  padding:10px;
  display:block;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  border:none;
  color:black;
  outline:none;
  padding-right: 30px;
  margin-right: 10px;
  width:40%;
  -webkit-transition:width .35s ease-in-out;
  transition:width .35s ease-in-out;
}
.search:focus {
  background:#fff;
  border:1px solid #34495E;
  color:#34495E;
  font-weight:600;
  background-image: url(/assets/search.png);
  background-position: right;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  width: 60%;
}
.search::-webkit-input-placeholder {
   color: black;
}
.search:-moz-placeholder {
   color: black;
}
.search::-moz-placeholder {
    color: black;
}
.search:-ms-input-placeholder {
    color: black;
}
.blue {background:#E2E4E6;}
.blue:checked {background:#3498DB;}
#menuDiv1{
  background-color: #E2E4E6;
  color: black;
  margin-left: 10px;
  height: 35px;
  width: 80%;
  margin-top: 1.5px;
  border-radius: 8px;
  cursor: pointer;
}
#dropDown1{
  height: 300px;
  width: 200px;
  position: absolute;
  display: none;
  top: 42px;
  left: 3px;
  background-color: #E8F8FF;
  border-radius: 8px;
  z-index: 2;
}
#menuDiv6{
  background-color: #E8F8FF;
  color: black;
  margin-left: 10px;
  height: 35px;
  width: 80%;
  margin-top: 1.5px;
  border-radius: 8px;
  cursor: pointer;
}
#dropDown6{
  height: 220px;
  width: 220px;
  position: absolute;
  display: none;
  top: 42px;
  right: 3px;
  background-color: #DCF3ED;
  border-radius: 8px;
  z-index: 2;
}
#userList{
  list-style: none;
}
.user_li{
  height: 30px;
  width: 100%;
  text-align: left;
}
#user_li1,#user_li7{
  height: 50px;
  text-align: center;
}
#user_li1{
    border-bottom: 1px solid gray;
}
#user_li2,#user_li3,#user_li4,#user_li5,#user_li6{
  padding-left: 7px;
}
#user_li7{
  border-top: 1px solid gray;
}
#userList a{
  text-decoration: none;
}
.user_li:hover{
  background-color: #91C9E8;
}
