$addMainColor:#99d8dd;
.boxIcon{
  position:absolute;
  float:left;
  width: 80px;
  height: 20px;
  left:0px;
  top:-15px;
}
.star_btn{
  display:none;
  top: 0px;
  margin: 2.5px 4px;
}
.member_work{
  margin: 100 auto;
  width: 90%;
  z-index:10;
  .starred_work{
    #starred_work_header{
      width: 100%;
      height:35px;
      color:#444444;
    }
  }
  #team_header{
    text-align: left;
    height: 40px;
    color:#626262;
    margin-top: 50px;
  }
  .p_w_title{
    font-size: 16px;
    font-weight: bold;
  }
  .purple_line{
    display: inline-block;
    height: 3px;
    width: 40px;
    background-color: #baa4ca;
    margin-top: 10px;
    float: left;
  }
  .gray_line{
    display: inline-block;
    height: 3px;
    width: 74px;
    margin-top: 10px;
    background-color: #e5e5e5;
    float:left;
  }
  .personal_work{
    #personal_work_header{
      text-align: left;
      height: 40px;
      color:#626262;
    }/*#personal_work_header*/
    .personal_work_content{
      -webkit-perspective: 500px;
      perspective: 500px;
      width: 180px;
      height: 130px;
      background: #f3e5f5;
      display: inline-block;
      //-webkit-transform: translate(-50%, -50%);
      //transform: translate(-50%, -50%);
      border-top-right-radius: 5px;
      cursor: pointer;
      -webkit-transition: all 400ms ease;
      transition: all 400ms ease;
      margin: 50px 40px 10px 40px;
      &::before{
        width: 80px;
        height: 15px;
        content: '';
        background: #f3e5f5;
        position: absolute;
        top: -15px;
        left: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      &::after{
        width: 180px;
        height: 90px;
        position: absolute;
        content: '';
        background: #efdaf2;
        top: 40px;
        left: 0px;
        box-shadow: 0 0 20px 2px fade(#000, 30%);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        -webkit-transform: rotateX(-10deg);
        transform: rotateX(-10deg);
        -webkit-transition: all 400ms ease;
        transition: all 400ms ease;
      }
      &:hover{
        cursor: pointer;
        &::after{
          -webkit-transform: rotateX(-15deg);
          transform: rotateX(-15deg);
        }
        .personal_work_name{
          -webkit-transform: rotate(-7deg) translateY(-15%);
          transform: rotate(-7deg) translateY(-15%);
        }
      }
    }
    .personal_work_name{
      width: 150px;
      height: 100px;
      position: absolute;
      background: #fff;
      top: 20px;
      left: 10px;
      box-shadow: 0 0 5px 5px fade(#000, 5%);
      -webkit-transform: rotate(-1deg);
      transform: rotate(-1deg);
      border: 1px solid #ddd;
      -webkit-transition: all 200ms ease;
      transition: all 200ms ease;
      &::before{
        content: '';
        //  background: -webkit-repeating-linear-gradient(145deg, #fff, #fff 10px, #333 7px, #333 20px);
        //background: repeating-linear-gradient(-0deg, #fff, #fff 10px, #333 10px, #333 20px);
        position: absolute;
        top: -37px;
        left: 65px;
        width: 20px;
        height: 10px;
        color: #343434;
        font-size: 60px;
        line-height: 30px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        opacity: 0.15;
      }
    }/*.personal_work_name*/
    .add_work_name{
      color: black;
    }/*.personal_work_name*/
  }/*.personal_work_content*/
  .userWork{
    //  background-color: #5cb3c1;
    //  box-shadow: 2px 1px 4px #A3A3A3;
    //  text-shadow: 2px 2px #8C8C8C;
    //  transition: all 0.4s ease 0s;
    &:hover{
      //  background-color: #AED9DF;
      .delete_btn{
        display: inline-block;
      }
      .edit_work_btn{
        display: inline-block;
      }
      .star_btn{
        display: inline-block;
      }
    }
  }
  .addWork{
    -webkit-perspective: 500px;
    perspective: 500px;
    width: 180px;
    height: 130px;
    background: #eeeeee;
    display: inline-block;
    //-webkit-transform: translate(-50%, -50%);
    //transform: translate(-50%, -50%);
    border-top-right-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    margin: 50px 40px 10px 40px;
    &::before{
      width: 80px;
      height: 15px;
      content: '';
      background: #eeeeee;
      position: absolute;
      top: -15px;
      left: 0px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &::after{
      width: 180px;
      height: 90px;
      position: absolute;
      content: '';
      background: #E2E4E6;
      top: 40px;
      left: 0px;
      box-shadow: 0 0 20px 2px fade(#000, 30%);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      -webkit-transform: rotateX(-10deg);
      transform: rotateX(-10deg);
      -webkit-transition: all 400ms ease;
      transition: all 400ms ease;
    }
    &:hover{
      cursor: pointer;
      &::after{
        -webkit-transform: rotateX(-15deg);
        transform: rotateX(-15deg);
      }
    }
  }
  .create_work_btn{
    position: absolute;
    z-index: 2;
    top: 60px;
    left: 70px;
  }
}/*.personal_work*/
.personal_team{
  text-align: left;
  .personal_team_header{
    margin-left: 15px;
    margin-top: 50px;
    text-align: left;
    color:#444444;
    .team_more{
      display: inline-block;
      margin-left: 10px;
      &:hover{
        cursor: pointer;
      }
    }/*.personal_team_header*/
  }/*.personal_team_header*/
  .personal_team_content{
    &:hover{
      cursor: pointer;
      .star_btn{
        display:inline-block;
      }
      .delete_btn{
        display: inline-block;
      }
      .edit_work_btn{
        display: inline-block;
      }
    }
    -webkit-perspective: 500px;
    perspective: 500px;
    width: 180px;
    height: 130px;
    background: #eaeef8;
    display: inline-block;
    //-webkit-transform: translate(-50%, -50%);
    //transform: translate(-50%, -50%);
    border-top-right-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    margin: 50px 40px 10px 40px;
    &::before{
      width: 80px;
      height: 15px;
      content: '';
      background: #eaeef8;
      position: absolute;
      top: -15px;
      left: 0px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &::after{
      width: 180px;
      height: 90px;
      position: absolute;
      content: '';
      background: #dae0f2;
      top: 40px;
      left: 0px;
      box-shadow: 0 0 20px 2px fade(#000, 30%);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      -webkit-transform: rotateX(-10deg);
      transform: rotateX(-10deg);
      -webkit-transition: all 400ms ease;
      transition: all 400ms ease;
    }
    &:hover{
      cursor: pointer;
      &::after{
        -webkit-transform: rotateX(-15deg);
        transform: rotateX(-15deg);
      }
      .personal_team_name{
        -webkit-transform: rotate(-7deg) translateY(-15%);
        transform: rotate(-7deg) translateY(-15%);
      }
    }
    .personal_team_name{
      width: 150px;
      height: 100px;
      position: absolute;
      background: #fff;
      top: 20px;
      left: 10px;
      box-shadow: 0 0 5px 5px fade(#000, 5%);
      -webkit-transform: rotate(-1deg);
      transform: rotate(-1deg);
      border: 1px solid #ddd;
      -webkit-transition: all 200ms ease;
      transition: all 200ms ease;
      &::before{
        content: '';
        //  background: -webkit-repeating-linear-gradient(145deg, #fff, #fff 10px, #333 7px, #333 20px);
        //background: repeating-linear-gradient(-0deg, #fff, #fff 10px, #333 10px, #333 20px);
        position: absolute;
        top: -37px;
        left: 65px;
        width: 20px;
        height: 10px;
        color: #343434;
        font-size: 60px;
        line-height: 30px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        opacity: 0.15;
      }
    }/*.personal_team_name*/
  }/*.personal_team_content*/
  .create_personal_team{
    -webkit-perspective: 500px;
    perspective: 500px;
    width: 180px;
    height: 130px;
    background: #eeeeee;
    display: inline-block;
    //-webkit-transform: translate(-50%, -50%);
    //transform: translate(-50%, -50%);
    border-top-right-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    margin: 50px 40px 10px 40px;
    &::before{
      width: 80px;
      height: 15px;
      content: '';
      background: #eeeeee;
      position: absolute;
      top: -15px;
      left: 0px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &::after{
      width: 180px;
      height: 90px;
      position: absolute;
      content: '';
      background: #E2E4E6;
      top: 40px;
      left: 0px;
      box-shadow: 0 0 20px 2px fade(#000, 30%);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      -webkit-transform: rotateX(-10deg);
      transform: rotateX(-10deg);
      -webkit-transition: all 400ms ease;
      transition: all 400ms ease;
    }
    &:hover{
      cursor: pointer;
      &::after{
        -webkit-transform: rotateX(-15deg);
        transform: rotateX(-15deg);
      }
    }
  }
}/*.personal_team*/
/*.member_work*/
.create_personal_work_form {
  text-align: left;
  padding-bottom:20px;
  margin-left:0;
  margin-right:0;
  height: 240px;
  width: 220px;
  top: 50px;
  right: 10px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 2px 1px 6px #888888;
  z-index: 100;
  font-family:'Raleway', sans-serif;
  position: absolute;
  display: none;
  .form_btn{
    position: absolute;
    right: 0px;
    top:5px;
    width: 15px;
    height: 15px;
    float: right;
    margin:5px;
    &:hover{
      cursor: pointer;
    }
  }
  .personal_work_form_element {
    padding-top:3%;
    padding-bottom:5%;
    padding-right:5%;
    /*padding-left:5%;*/
  }
  #personal_work_form_main {
    height: 20px;
    width: 80%;
    padding-top:15px;
    padding-bottom:15px;
    padding-right:5%;
    padding-left:5%;
    margin-left:5%;
    margin-right:5%;
    text-align: center;
    color:#868686;
    border-bottom: 2px dotted #A8A8A8;
    #left_icon{
      float:left;
      margin-top:5px;
      transition: all 0.4s ease 0s;
      &:hover{
        cursor: pointer;
      }
    }
  }
  #personal_work_form {
    padding-right:5%;
    padding-left:5%;

    #personal_work_form_title {
      margin-top:8px;
    }

    .personal_input {
      margin-left:2%;
      margin-right:2%;
      padding-bottom:2%;
      padding-top:2%;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      width:96%;
      background-color: #EFEFEF;

      &:focus {
        background-color: #FFFFFF;
      }
    }

    #personal_work_form_team_name {
      margin-top:4px;
    }

    #personal_work_form_selectTeam {
      margin-left:2%;
      margin-right:2%;
      padding-bottom:2%;
      padding-top:2%;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      width:96%;
      background-color: #EFEFEF;
      &:focus {
        background-color: #FFFFFF;
      }
    }
  }
  .personal_work_form_button {
    margin-top:7%;
    margin-bottom:5%;
    margin-left: 60px;
    text-align:center;
    border-radius: 4px;
    font-size: 16px;
    background-color: #96D0E8;
    border: none;
    color: white;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.4s ease 0s;
    &:hover{
      cursor: pointer;
      background-color: #B3DEEE;
    }
  }
}
.create_team_work_form {
  padding-bottom:20px;
  margin-left:0;
  margin-right:0;
  height: 220px;
  width: 220px;
  top: 50px;
  right: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 2px 1px 10px #888888;
  z-index: 100;
  font-family:'Raleway', sans-serif;
  position: absolute;
  display: none;
  text-align: center;
  .form_btn{
    position: absolute;
    right: 0px;
    top:5px;
    width: 15px;
    height: 15px;
    float: right;
    margin:5px;
    &:hover{
      cursor: pointer;
    }
  }
  #team_work_form_main {
    margin: 10px 23px;
    padding-bottom: 10px;
    height: 20px;
    width: 80%;
    color:#868686;
    border-bottom: 2px dotted #A8A8A8;
    #left_icon{
      float:left;
      margin-top:5px;
      transition: all 0.4s ease 0s;
      &:hover{
        cursor: pointer;
      }
    }
  }
  #team_work_form {
    padding-right:5%;
    padding-left:5%;
    #team_work_form_title {
      margin-top:8px;
    }
    .team_input {
      margin-left:2%;
      margin-right:2%;
      padding-bottom:2%;
      padding-top:2%;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      width:96%;
      background-color: #EFEFEF;
      &:focus {
        background-color: #FFFFFF;
      }
    }
    .team_work_form_element{
      text-align: left;
      margin-bottom: 5px;
    }
    #team_work_form_team_name {
      margin-top:4px;
    }

    #team_work_form_selectTeam {
      margin-left:2%;
      margin-right:2%;
      padding-bottom:2%;
      padding-top:2%;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      width:96%;
      background-color: #ffffff;
      &:focus {
        background-color: #FFFFFF;
      }
    }
  }
  .team_work_form_button {
    margin: 20px auto ;
    text-align:center;
    border-radius: 4px;
    font-size: 16px;
    background-color: #96D0E8;
    border: none;
    color: white;
    padding: 7px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.4s ease 0s;
    &:hover{
      cursor: pointer;
      background-color: #B3DEEE;
    }
  }
}
.create_team{
  display: inline-block;
}
#personal_work_form_main {
  height: 40px;
  padding-top: 10px;
}
.create_team:hover{
  cursor: pointer;
}
#t_w_title{
  display: inline-block;
}
.create_team_form{
  padding-top: 15px;
  font-size: 20px;
  box-shadow: 2px 1px 10px #888888;
  width: 300px;
  height: 140px;
  background-color: #ffffff;
  position: absolute;
  display: none;
  border-radius: 5px;
  top:0;
  bottom: 0;
  text-align: center;
  z-index: 2;
  .team_input{
    margin: 15px 0;
    padding-bottom:2%;
    padding-top:2%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width:90%;
    height: 30px;
    background-color: #EFEFEF;
    transition: all 0.4s ease 0s;
    &:focus {
      background-color: #FFFFFF;
    }
  }
  .form_btn{
    position: absolute;
    right: 0px;
    top:5px;
    width: 15px;
    height: 15px;
    float: right;
    margin:5px;
    &:hover{
      cursor: pointer;
    }
  }
  .team_button{
    margin-top: 0px;
    text-align:center;
    border-radius: 4px;
    font-size: 16px;
    background-color: #96D0E8;
    border: none;
    color: white;
    padding: 7px 25px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.4s ease 0s;
    &:hover{
      cursor: pointer;
      background-color: #B3DEEE;
    }
  }
}
.home_team_name{
  display: inline-block;
  float: left;
  font-size: 15px;
  font-weight: bold;
  color: #888888;
}


.wrap_team_content{
  text-align: left;
}
.edit_work_name{
  padding-top: 15px;
  font-size: 20px;
  box-shadow: 2px 1px 10px #888888;
  width: 300px;
  height: 140px;
  background-color: #ffffff;
  position: absolute;
  display: none;
  border-radius: 5px;
  top:0;
  bottom: 0;
  text-align: center;
  z-index: 2;
  .work_name{
    margin: 15px 0;
    padding-bottom:2%;
    padding-top:2%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width:90%;
    height: 30px;
    background-color: #EFEFEF;
    transition: all 0.4s ease 0s;
    &:focus {
      background-color: #FFFFFF;
    }
  }
  .edit_work_button{
    margin-top: 0px;
    text-align:center;
    border-radius: 4px;
    font-size: 16px;
    background-color: #96D0E8;
    border: none;
    color: white;
    padding: 7px 25px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.4s ease 0s;
    &:hover{
      cursor: pointer;
      background-color: #B3DEEE;
    }
  }
  .form_btn{
    position: absolute;
    right: 0px;
    top:5px;
    width: 15px;
    height: 15px;
    float: right;
    margin:5px;
    &:hover{
      cursor: pointer;
    }
  }
}



.custom_menu {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid #CCC;
  white-space: nowrap;
  font-family: sans-serif;
  background: #FFF;
  color: #333;
  border-radius: 5px;
  padding: 0;
  text-align: left;

  li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;

    &:hover {
      background-color: #DEF;
    }
  }
}
.context_hr {
  border: 0;
  border-bottom: 1px solid #ccc;
  background: #999;
}
/* The Modal (background) */
.modal {
    font-family:'Raleway', sans-serif;
    z-index:1000;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius: 8px;
}

/* Modal Content */
.modal-content {
    z-index:1000;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 8px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {

  z-index:1000;
    padding: 6px 16px;
    background-color: #BABABA;
    color: white;
    border-radius: 8px;
    font-weight: bold;
}
.modal-body {
  z-index:1000;
  padding: 2px 16px;
  height:80px;
  padding-top:40px;
  padding-bottom:20px;
  .share_icon{
    position: absolute;
    bottom: 15px;
    right: 10px;
    .icon{
      width: 30px;
      height: 30px;
      margin: 0 5px;
      &:hover{
        cursor: pointer;
      }
    }
  }
}

.modal-footer {
  z-index:1000;
    padding: 2px 16px;
    background-color: #B2DFFF;
    color: white;
}

#shareLink{
  height : 30px;
  margin-top: 5px;
  width:60%;
      padding:5px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: #EFEFEF;

      &:focus {
        background-color: #FFFFFF;
      }
}
.copyBtn{
  .btn{
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc,#eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
  }
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 100%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
