// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.parent{
  width: 150px;
  height: 150px;
  background-color: #53c3d3;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}
.parent:hover{
  cursor: pointer;
}
div.child{
  width: 75px;
  height: 75px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
}
.child:hover{
  cursor: pointer;
}
#wrapDiv{
      width: 100%;
      height: 100%;
}
/* HOVER STYLES */
div#pop-up {
  display: none;
  position: absolute;
  width: 280px;
  padding: 10px;
  background: #eeeeee;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}
