// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
}

.level0, .level1, .level2 {
	margin-left:10px;
	margin-top:10px;
border:1px solid black;
}
.level2 {
	width:80px;
	height:80px;
	float: left;
	background: #aaa;
}
.level1 {
	width:200px;
height:200px;
	background: #ddd;
	float: left;
	font-size:30px;
font-family: Helvetica;
}
.level0 {
	width:434px;
	height:434px;
left:100px;
	top:100px;
	position:absolute;
}
/* pages */
.page_box{
	padding:30px;
	ol{
		position: relative;
		.pageli{
			display:inline-block;
			width:100px;
			height:100px;
			margin-right: 5px;
			margin-bottom: 5px;
			margin-top:5px;
			border-radius: 5px;
			background-color:#FF7F7F
		}
	}
}
div.parent{
  width: 150px;
  height: 150px;
  background-color: #53c3d3;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index:10;
}
.parent:hover{
  cursor: pointer;
}
div.childGroup{

  z-index:2;
}
div.child{
  width: 75px;
  height: 75px;
  background-color: #ECA812;
  border-radius: 50%;
  position: absolute;
}
.child8{
	z-index:2;
}
.child1, .child2, .child3, .child4, .child5, .child6, .child7{
	z-index:3;
}
div.back{
  width: 75px;
  height: 75px;
  background-color: #FF7F7F;
  border-radius: 50%;
  position: absolute;
  z-index:2;
  box-shadow: 2px 1px 6px #888888;
}
.back:hover{
  cursor: pointer;
}

.child:hover{
  cursor: pointer;
}
#wrapDiv{
      width: 100%;
      height: 100%;
}
.branch_list{
	margin: 0px;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 10px;
	position: absolute;
	width:250px;
	height: 300px;
	background-color: #F8F8F8;
	box-shadow: 2px 1px 10px #888888;
	display: none;
}
.branch{
	width: auto;
	height: 30px;
}
.branch_title{
	height: 50px;
	padding-top: 5px;
	text-align: center;
}
.branch_title_name{
	margin: 4px auto;
	width: 80%;
	height: 40px;
	text-align: center;
	border-bottom:2px dotted black;
	font-size: 17px;
}
.pages{

	&::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #999999;
    border-radius:5px;
  }
	position: absolute;
	overflow:auto;
	top:13%;
	height:80%;
	background-color:#E2E4E6;
	border-radius: 8px;
	box-shadow: 2px 1px 6px #A3A3A3;
	font-family:'Raleway', sans-serif;
  font-size:97%;
  z-index: 50;
	.page{
		margin-top: 1.8%;
		margin-left: 1.8%;
		display: block;
    list-style-type: decimal;
    position: relative;
    text-align: left;
		.pageli{
			width:17.7%;
			height:20%;
			margin-left: 1%;
			margin-right: 1%;
			margin-top: 0.5%;
			margin-bottom: 0.5%;
			background-color:#a8cfc3;
			text-align: center;
			display: inline-block;
			border-radius: 8px;
			box-shadow: 2px 1px 4px #A3A3A3;
			.img{
				width: 100%;
				height: 60%;
				//border-radius: 8px;
				margin-top: 10%;
				margin-bottom: 5%;
			}
		}/*pageli*/
	}
}

.page_url_div{
	overflow: hidden;
	-webkit-transition: 3.3s;
	-moz-transition: 3.3s;
	transition: 3.3s;
	-webkit-transition-timing-function: linear;
	-moz-transition-timing-function: linear;
	transition-timing-function: linear;
	&:hover{
		.page_url{
			margin-left: -200px;
		}
	}
	a{
		text-align: center;
		display:inline-block; /* important */
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		&:hover{
			text-decoration: none;
		}
	}
	.page_url{
		margin-left: 0em;
		-webkit-transition: 3.3s;
		-moz-transition: 3.3s;
		transition: 3.3s;
		-webkit-transition-timing-function: linear;
		-moz-transition-timing-function: linear;
		transition-timing-function: linear;
	}
}
