#side_bar{
	position: absolute;
	width:15%;
	height:80%;
	left:83%;
	background-color:red;
	z-index:88;
	#page_alert{
		position: relative;
		border-radius: 50%;
		width:50%;
		height:10%;
		left:25%;
		top:8%;
		background-color:blue;
		z-index:89;
		
	}
}