#side_bar{
	position: absolute;
	width:10%;
	height:100%;
	right:1%;
	background-color:red;
	z-index:200;
	#page_alert{
		position: relative;
		border-radius: 50%;
		width:50%;
		height:10%;
		left:25%;
		top:8%;
		background-color:blue;
		z-index:201;
	}
}